<div navbar ng-init="currentItem='database'"></div>
<div ng-hide="loaded">
    <div loading></div>
</div>

<div id="main" ng-init="load()" ng-show="loaded" style="display:none">
    <div class="module-header">
        <h3>Quản lý CSDL</h3>
    </div>

    <div class="tabbable" ng-show="has_dbserver">
        <ul class="nav nav-tabs">
            <li ng-class="'active' | iftrue:activeTabName=='mysql'" ng-show="mysql_supported" style="display:none"><a href="#mysql" ng-click="sec('mysql')" data-toggle="tab">MySQL 数据库管理</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='mysql'" ng-show="mysql_supported" style="display:none" id="mysql">
                <!-- Vui lòng nhập mật khẩu root để tiếp tục -->
                <div class="panel panel-warning" ng-show="!$mysql.password_validated">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-lock"></i>
                            <span> Vui lòng nhập mật khẩu root để tiếp tục</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" onsubmit="return false" method="get" action="/">
                            <div class="form-group form-inline">
                                <label class="col-sm-2 control-label" for="password">Mật khẩu root</label>
                                <div class="col-sm-10">
                                    <input class="form-control" ng-model="$mysql.password" type="password" id="password" ng-disabled="processing" placeholder="Mật khẩu root" autocomplete="off" autofocus>
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <div class="col-sm-2 control-label"></div>
                                <div class="col-sm-10">
                                    <button class="btn btn-primary" ng-click="validate_password()" ng-disabled="processing">
                                        <i class="glyphicon glyphicon-user"></i> <span>Đăng nhập MySQL</span>
                                    </button>
                                    <span style="padding-left:20px">
                                        <a href="#/service/mysql?s=password">Quên mật khẩu?</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div ng-show="$mysql.password_validated && dbloading">
                    <div waiting ng-init="waitingText='Đang tải danh sách cơ sở dữ liệu, vui lòng đợi ...'"></div>
                </div>
                <div class="panel panel-default" ng-show="$mysql.password_validated && !dbloading">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span> Danh sách cơ sở dữ liệu</span>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="#/database/mysql/db/new"><i class="glyphicon glyphicon-plus"></i> Cơ sở dữ liệu mới</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="width:20px" class="text-right">#</th>
                                <th>Tên CSDL</th>
                                <th>Bộ ký tự</th>
                                <th>Dọn dẹp</th>
                                <th class="text-right">Số bảng</th>
                                <th class="text-right">Kích thước</th>
                                <th class="text-right">Size chỉ mục</th>
                                <th class="text-right">Tổng</th>
                                <th style="width:100px">Hoạt động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="db in dbs">
                                <td class="text-right">{{$index+1}}</td>
                                <td>{{db.name}}</td>
                                <td>{{db.charset}}</td>
                                <td>{{db.collation}}</td>
                                <td class="text-right">{{db.tables}}</td>
                                <td class="text-right" ng-bind-html-unsafe="db.datasize | bytes2human"></td>
                                <td class="text-right" ng-bind-html-unsafe="db.indexsize | bytes2human"></td>
                                <td class="text-right" ng-bind-html-unsafe="db.totalsize | bytes2human"></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-xs" href="#/database/mysql/db/edit/{{db.name|urlencode|urlencode}}">
                                            <i class="icon-wrench"></i> Quản lý cơ sở dữ liệu
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="$mysql.password_validated && userloading">
                    <div waiting ng-init="waitingText='Đang tải danh sách user, vui lòng đợi ...'"></div>
                </div>
                <div class="panel panel-default" ng-show="$mysql.password_validated && !userloading">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span> Danh sách user</span>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="#/database/mysql/user/new"><i class="glyphicon glyphicon-plus"></i> Thêm user</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="width:20px" class="text-right">#</th>
                                <th>Tên tên user</th>
                                <th>Máy chủ</th>
                                <th>Mật khẩu</th>
                                <th>Quyền global</th>
                                <th>Quyền</th>
                                <th style="width:90px">Hoạt động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td class="text-right">{{$index+1}}</td>
                                <td ng-bind-html-unsafe="user.User | mysql.user"></td>
                                <td>{{user.Host}}</td>
                                <td ng-bind-html-unsafe="user.Password | mysql.haspasswd"></td>
                                <td ng-bind-html-unsafe="user | mysql.privs:'global'"></td>
                                <td ng-bind-html-unsafe="user.Grant_priv | mysql.grant"></td>
                                <td>
                                    <a class="btn btn-default btn-xs" href="#/database/mysql/user/edit/{{user.User|urlencode|urlencode}}%40{{user.Host|urlencode|urlencode}}" ng-show="user.User!=''">
                                        <i class="icon-wrench"></i> Cài đặt user
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info" ng-hide="has_dbserver" value="install" style="display:none">
        <div class="panel-heading">
            <div class="panel-title">Không tìm thấy csdl</div>
        </div>
        <div class="panel-body">
            <p>Không có csdl được cài đặt trong hệ thống</p>
            <p>Vui lòng cài đặt dịch vụ cơ sở dữ liệu trước khi tiếp tục.</p>
            <p><a class="btn btn-default" href="#/service?s=database">Cài đặt ngay</a></p>
        </div>
    </div>

</div>
